body {
  background-image: url(https://wallpaperaccess.com/full/331380.jpg);
}
.navbar {
  background-image: url(https://wallpaperaccess.com/full/741557.jpg);
}
.navbar-brand {
  margin: auto;
}
.rowpapa {
  margin-top: 15px;
  margin-bottom: 25px;
 
}
.rowpapi {
  margin-top: 15px;
  margin-bottom: 25px;
}
.container {
  width: auto;
}
.box1{
    margin-bottom: 50px;
}
.contentHome {
  margin: auto;
}
